<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Create new blog</title>
</head>
<body>
<h1>Create new Blog</h1>
<p>
    <a href="/blogers">Back to blog list</a>
</p>
<p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</p>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>NameBlog:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>