<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show blog list</title>
</head>
<body>
<h1>Blog list</h1>
<p>
    <a href="/create-blog">Create new blog</a>
</p>
<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Content</td>
        <td>Image link</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.image}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__}">edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.id}__}">view</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>