<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Detail bog</title>
</head>
<body>
<h1>Detail blog</h1>
<p>
    <a href="/blogers">Back to blog list</a>
</p>
<table>
    <tr>
        <td>Id:</td>
        <td th:text="${blog.id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${blog.name}"></td>
    </tr>
    <tr>
        <td>Content:</td>
        <td th:text="${blog.content}"></td>
    </tr>
    <tr>
        <td>Image:</td>
        <td th:text="${blog.image}"></td>
    </tr>
</table>
</body>
</html>